[defaults]
inventory_plugins = ./plugins/inventory
deprecation_warnings = False

[inventory]
# Adicionamos "script" e "auto" para o AWX conseguir ler o próprio inventário
enable_plugins = host_list, script, auto, yaml, ini, toml, community.zabbix.zabbix_inventory
